:root{
    --clr-drk-background: #1F2937;
    --clr-secondary: #3882F6;
    --clr-light: #E5E7EB;


    --fs-main: 48px;
    --fw-main: bolder;
    --fs-header: 24px;;

    --fs-quote: 36px;
    --clr-quote: #1F2937;
    --fw-quote: italic;
    
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1em;
}

.bg-dark {
    background-color: var(--clr-drk-background);
}
.bg-gray {
    background-color: var(--clr-light);
}

.main-txt {
    font-size: var(--fs-main);
    font-weight: var(--fw-main);
}
.quote{
    font-size: var(--fs-quote);
    color: var(--clr-quote);
    font-style: var(--fw-quote);    
}
.fc-white {
    color: white;
}
a{
    text-decoration: none;
    color: var(--clr-light)
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 7em;
}
.nav{
    display: flex;
    gap: 30px;
}

.container{
    display: flex;
    padding: 2em 7em;
}


.content{
    display: flex;
    flex-direction: column;
}
img {
    height: 200px;
}

button{
    width: 100px;
    padding: 0.875em;
    border-radius: 5px;
    background-color: var(--clr-secondary);
    border: 0;
    color: white;
    line-height: 1em;
}

.placeholder{
    background-color: var(--clr-light);
}
.content{
    display: flex;
}
.container-1{
    flex-direction: row;
}
.container-2{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container-2 .content{
    flex-direction: row;
    margin: 40px;
    gap: 40px;
}
.card{
    width: 150px;
}
.container-3{
    flex-direction: column;
    padding: 8em;
}
.quote{
    margin-bottom: 0;
}
.quote-who{
    align-self: flex-end;
    font-weight: 700;
    padding-right: 50px;
    font-weight: bolder;
}

.quote, .quote-who{
    margin: 0 10rem;
}


.container-4 .content{
    width: 100%;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 7rem;
    border-radius: 5px;
    margin: 2rem;
}

.inverted{
    border: 1px solid white;
}

.footer {
    text-align: center;
    padding: 3em;
}

.random{
    font-size: 36px;
    font-style: bold;
}

.even-columns{
    justify-content: center;
    width: 500px;
}

.container-1{
    justify-content: space-between;
}

h1,p {
    margin-bottom: 1rem;
}

.inverted{
    width: 200px;
}

.random-img{
    max-width: 100%;
    border: 3px solid var(--clr-secondary);
    border-radius: 5px;
}

.container-2 .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

